JamGame/.vs/JamGame/FileContentIndex/65c0c849-a905-4ad7-9003-0ff8c2515827.vsidx
JamGame/.vs/JamGame/FileContentIndex/b989c1b3-49c3-44df-bd7d-206c34d1e985.vsidx
JamGame/.vs/JamGame/FileContentIndex/d8bf0b2a-9fcc-46d4-948d-94ed31aad5c6.vsidx
JamGame/.vs/JamGame/FileContentIndex/read.lock
JamGame/.vs/JamGame/v17/Browse.VC.db
JamGame/.vs/JamGame/v17/Browse.VC.db-shm
JamGame/.vs/JamGame/v17/Browse.VC.db-wal
JamGame/.vs/JamGame/v17/Browse.VC.opendb
JamGame/.vs/JamGame/v17/ipch/AutoPCH/7dc98fa6f69b97a6/MAIN.ipch
JamGame/.vs/JamGame/v17/ipch/AutoPCH/86d9d5eeacadbefc/GAMESYSTEM.ipch
JamGame/.vs/JamGame/FileContentIndex/4f658d55-c66c-4051-b57d-7e7fc7d6d265.vsidx
JamGame/.vs/JamGame/FileContentIndex/59e2d120-c799-4499-8ef0-b2757e2e0293.vsidx
JamGame/.vs/JamGame/FileContentIndex/791aa5d2-6793-458a-aaf8-faf4e9ece3f4.vsidx
JamGame/.vs/JamGame/FileContentIndex/88441126-2d49-4b63-8ab4-1605d330837d.vsidx
JamGame/.vs/JamGame/v17/ipch/AutoPCH/209724c68906c0d3/SCENE.ipch
