JamGame/.vs/JamGame/FileContentIndex/65c0c849-a905-4ad7-9003-0ff8c2515827.vsidx
JamGame/.vs/JamGame/FileContentIndex/b989c1b3-49c3-44df-bd7d-206c34d1e985.vsidx
JamGame/.vs/JamGame/FileContentIndex/d8bf0b2a-9fcc-46d4-948d-94ed31aad5c6.vsidx
JamGame/.vs/JamGame/FileContentIndex/read.lock
JamGame/.vs/JamGame/v17/Browse.VC.db
JamGame/.vs/JamGame/v17/Browse.VC.db-shm
JamGame/.vs/JamGame/v17/Browse.VC.db-wal
JamGame/.vs/JamGame/v17/Browse.VC.opendb
JamGame/.vs/JamGame/v17/ipch/AutoPCH/7dc98fa6f69b97a6/MAIN.ipch
JamGame/.vs/JamGame/v17/ipch/AutoPCH/86d9d5eeacadbefc/GAMESYSTEM.ipch
JamGame/.vs/JamGame/FileContentIndex/4f658d55-c66c-4051-b57d-7e7fc7d6d265.vsidx
JamGame/.vs/JamGame/FileContentIndex/59e2d120-c799-4499-8ef0-b2757e2e0293.vsidx
JamGame/.vs/JamGame/FileContentIndex/791aa5d2-6793-458a-aaf8-faf4e9ece3f4.vsidx
JamGame/.vs/JamGame/FileContentIndex/88441126-2d49-4b63-8ab4-1605d330837d.vsidx
JamGame/.vs/JamGame/v17/ipch/AutoPCH/209724c68906c0d3/SCENE.ipch
/JamGame/.vs/JamGame/FileContentIndex/08e9400b-3b27-4a1f-9395-da96b55bf22d.vsidx
/JamGame/.vs/JamGame/FileContentIndex/455de494-ebee-43ab-9d27-b9d0d5f38f07.vsidx
/JamGame/.vs/JamGame/FileContentIndex/9b775c1c-c1b6-4116-aa0a-9815ff6f6736.vsidx
/JamGame/.vs/JamGame/FileContentIndex/d95a3ca6-7ed8-4607-b2bd-a787e7ee39a0.vsidx
/JamGame/.vs/JamGame/v17/ipch/AutoPCH
/JamGame/.vs/JamGame/v17
/JamGame/Debug
/JamGame/JamGame/Debug
/JamGame/JamGame/x64/Debug/JamGame.tlog
/JamGame/x64/Debug
JamGame/.vs/JamGame/FileContentIndex/8349e5e9-5987-4e89-8837-46df2d1c4e58.vsidx
JamGame/.vs/JamGame/FileContentIndex/c19b4c93-b890-4860-b50a-e62b8a6e3039.vsidx
JamGame/.vs/JamGame/FileContentIndex/c2d31f3f-46dd-41ae-ac64-4a9ee5594025.vsidx
JamGame/.vs/JamGame/FileContentIndex/f94fc230-90cd-4d3a-8c33-50ff1415144d.vsidx
